@media (max-width: 992px) {
  //   .nav-mobile-holder{
  //     display: none !important;
  //   }
  .more-btn {
    width: 100% !important;
  }
  .modal.show .modal-dialog {
    top: 8%;
  }
  .backToTop {
    right: 25px !important;
    bottom: 110px !important;
  }
}
